<h1>About Me:</h1>
<p>My name is Mary Hewitt, and I am a Master of Science (Geospatial Science) student at Curtin University.</br>
I have experience with HTML, CSS, Javascript, SQL, Python, and a smattering of Ruby. :-)</p>
